<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlin.user">
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        <activity android:name=".ui.activity.RegisterActivity"></activity>

        <activity android:name=".ui.activity.LoginActivity">

        </activity>
        <activity android:name=".ui.activity.ForgetPwdActivity"></activity>
        <activity android:name=".ui.activity.ResetPwdActivity"></activity>
        <activity android:name=".ui.activity.UserInfoActivity"></activity>
    </application>

</manifest>